.full-center{
    @apply items-center justify-center w-full min-h-screen md:flex;
}
/*-----------------------------------------------
    LOGIN CONTAINER
-------------------------------------------------*/
.login-container {
    @apply flex flex-col items-center justify-center min-h-screen px-4 py-4 xl:px-0 w-full;
}

.login-login {
    @apply relative w-full min-[503px]:w-[440px] mx-auto flex flex-col items-stretch bg-light shadow-2xl rounded-2xl mt-6;
}

.login-login > div {
    @apply w-full;
}

.form-login{
    @apply py-6 px-[43px];
}
.register-area{
    @apply bg-grey-400 items-stretch flex min-[471px]:flex-row flex-col justify-between px-6 py-3 rounded-b-2xl gap-4;
}
.steps{
    @apply flex items-center gap-2;
}

/* ------------------------------------------------------------
SECTION
--------------------------------------------------------------- */
.section-header {
    @apply relative;
}
.section-header .section-header__title {
    @apply block;
}
.section-header h1 {
    @apply mb-2;
}
.section-header h2 {
    @apply mb-1;
}
/* navegation companys */
.navegations-company {
    @apply relative top-0 right-0 sm:absolute md:right-14 xl:right-0 ;
}
.navegations-company select {
    @apply md:min-w-[200px] lg:min-w-[300px] bg-gray-200;
}
/* edition-area */
.edition-area {
    @apply relative flex-col justify-between lg:flex-row;
}
.edition-area > *:first-child {
    @apply w-full lg:flex-1;
}
.edition-area > *:last-child {
    @apply w-full text-right lg:w-auto;
}


/*----------------------------------------------
    REGISTER COMPONENT
------------------------------------------------*/
.login-register{
    @apply relative w-full max-w-[880px] mx-auto flex flex-col items-stretch bg-light shadow-2xl rounded-2xl mt-6;
}
