
body {
    @apply bg-grey-50 text-black font-primary text-base overflow-x-hidden;
}

h1{
    @apply text-[48px] font-extrabold;
}

h2{
    @apply text-[34px] font-semibold;
}

h3{
    @apply text-[28px] font-bold;
}

h4{
    @apply text-[22px] font-semibold;
}

h5{
    @apply text-[16px] font-semibold;
}

p{
    @apply text-[24px];
}

p.regular{
    @apply text-sm font-normal leading-none text-black;
}

hr {
    @apply my-4 border-t-2 border-grey-100;
}

.base-bold{
    @apply font-extrabold text-[14px];
}

label, .label {
    @apply font-medium text-[14px];
}
:root {
    --color-scrollbar-thumb: #CDCDCD;
    --color-scrollbar-track: #EFEFEF;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);
}
*::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 10px;
    border: none;
}
ul.list-disc {
    padding: 1rem;
}
